@import "./mixins/mixins";
@import "./Partials/nav";
@import "./Partials/contenido";
@import "./Partials/galleria";
@import "./Partials/footer";

#wrapper{
  max-width: 800px;
  margin: 0 auto;
  background-color: #eaeced;
}
#sub-wrapper{
  max-width: 600px;
  margin: 0 auto;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

