@import "./mixins/content";

#wrapper{
  max-width: 800px;
  margin: 0 auto;
  background-color: #eaeced;
}
#sub-wrapper{
  max-width: 600px;
  margin: 0 auto;
}
#nav{
  padding-top: 10px;
  position: relative;
  padding-bottom: 10px;
}

#nav ul {
  list-style: none;
  position: absolute;
  top: 4px;
  right: 0;
  li{
    float: left;
    padding: 10px;
    a{
      text-decoration: none;
    }
  }
}

.contenedor{
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
}
.contenedor h2{
  padding-top: 60px;
}
.contenedor p{
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
}
.contenedor #more1 {
  @include more;
}
.contenedor #more2 {
  @include more;
}
.contenedor #more1 p{
  @include morep;
  background-color: green;
}
.contenedor #more2 p{
  @include morep;
  background-color: orange;
}
.contenedor .more a{
  text-decoration: none;
  color: white;
}
.contenedor-img{
  float: left;
}
.imagen{
  width: 300px;
  margin: 0px;
  padding: 0px;
}
.informacion{
  width: 300px;
  font-size: 15px;
  text-align: right;
  background-color: #0071bd;
  float: left;
}
.informacion h4{
  padding: 55px 45px 0px 45px;
}
.informacion p{
  padding: 0px 45px 55px 45px;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

