#wrapper {
  max-width: 800px;
  margin: 0 auto;
  background-color: #eaeced; }

#sub-wrapper {
  max-width: 600px;
  margin: 0 auto; }

#nav {
  padding-top: 10px;
  position: relative;
  padding-bottom: 10px; }

#nav ul {
  list-style: none;
  position: absolute;
  top: 4px;
  right: 0; }
  #nav ul li {
    float: left;
    padding: 10px; }
    #nav ul li a {
      text-decoration: none; }

.contenedor {
  background-color: white;
  text-align: center;
  margin-bottom: 20px; }

.contenedor h2 {
  padding-top: 60px; }

.contenedor p {
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px; }

.contenedor #more1 {
  padding-bottom: 40px;
  padding-top: 10px; }

.contenedor #more2 {
  padding-bottom: 40px;
  padding-top: 10px; }

.contenedor #more1 p {
  font-size: 12px;
  margin-left: 220px;
  margin-right: 220px;
  padding: 5px 20px 5px 20px;
  background-color: green; }

.contenedor #more2 p {
  font-size: 12px;
  margin-left: 220px;
  margin-right: 220px;
  padding: 5px 20px 5px 20px;
  background-color: orange; }

.contenedor .more a {
  text-decoration: none;
  color: white; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }
