#wrapper {
  max-width: 800px;
  margin: 0 auto;
  background-color: #eaeced; }

#sub-wrapper {
  max-width: 600px;
  margin: 0 auto; }

#nav {
  padding-top: 10px;
  position: relative;
  padding-bottom: 10px; }

#nav ul {
  list-style: none;
  position: absolute;
  top: 4px;
  right: 0; }
  #nav ul li {
    float: left;
    padding: 10px; }
    #nav ul li a {
      text-decoration: none;
      color: #9c9c9c; }

a {
  color: #3fabeb; }

.contenedor {
  background-color: white;
  text-align: center;
  margin-bottom: 20px; }

.contenedor h2 {
  padding-top: 60px; }

.contenedor p {
  padding-top: 20px;
  padding-right: 80px;
  padding-left: 80px; }

.contenedor #more1 {
  padding-bottom: 40px;
  padding-top: 10px; }

.contenedor #more2 {
  padding-bottom: 40px;
  padding-top: 10px; }

.contenedor #more3 {
  padding-bottom: 71px;
  padding-top: 36px; }

#more4 {
  padding-bottom: 71px;
  padding-top: 36px; }

#more5 {
  padding-bottom: 71px;
  padding-top: 36px;
  background-color: white;
  text-align: center;
  margin-top: -20px; }

.contenedor #more1 p {
  font-size: 12px;
  margin-left: 210px;
  margin-right: 210px;
  padding: 17px 50px 17px 50px;
  background-color: #7bb84e; }

.contenedor #more2 p {
  font-size: 12px;
  margin-left: 210px;
  margin-right: 210px;
  padding: 17px 50px 17px 50px;
  background-color: #f5ba1b; }

.contenedor #more3 p {
  font-size: 12px;
  margin-left: 210px;
  margin-right: 210px;
  padding: 17px 50px 17px 50px;
  background-color: #3fabeb; }

#galleria #more4 p {
  font-size: 12px;
  margin-left: 210px;
  margin-right: 210px;
  padding: 17px 50px 17px 50px;
  background-color: #f9f9f9; }

#more5 h2 {
  background-color: #e02d74;
  font-size: 17px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 17px 0px 17px 0px; }

#more1 a, #more2 a, #more3 a, #more5 h2 a {
  text-decoration: none;
  color: white; }

#more4 a {
  text-decoration: none;
  color: #292b33; }

.contenedor .more a {
  text-decoration: none;
  color: white; }

.contenedor-img {
  float: left; }

#informacion1 {
  position: relative;
  width: 300px;
  font-size: 15px;
  text-align: right;
  float: left;
  color: white; }

#informacion2 {
  position: relative;
  width: 300px;
  font-size: 15px;
  text-align: left;
  float: left;
  color: white; }

#informacion3 {
  position: relative;
  width: 300px;
  font-size: 15px;
  text-align: right;
  float: left;
  color: white; }

#informacion4 {
  position: relative;
  width: 300px;
  font-size: 15px;
  text-align: left;
  float: left;
  color: white; }

#img1 {
  position: absolute;
  top: 0px;
  left: 0px; }

#img2 {
  position: absolute;
  bottom: 0px;
  left: 0px; }

#img3 {
  position: absolute;
  top: 0px;
  left: 0px; }

#img4 {
  position: absolute;
  bottom: 0px;
  left: 0px; }

.azul {
  background-color: #0071bd; }

.celeste {
  background-color: #a3d3f3; }

.celesteoscuro {
  background-color: #75b3dd; }

.negro {
  background-color: #333c4d; }

#informacion1 h4 {
  padding: 255px 45px 0px 45px; }

#informacion1 p {
  padding: 0px 45px 55px 45px; }

#informacion2 h4 {
  padding: 55px 45px 0px 45px; }

#informacion2 p {
  padding: 0px 45px 255px 45px; }

#informacion3 h4 {
  padding: 255px 45px 0px 45px; }

#informacion3 p {
  padding: 0px 45px 55px 45px; }

#informacion4 h4 {
  padding: 55px 45px 0px 45px; }

#informacion4 p {
  padding: 0px 45px 255px 45px; }

#galleria {
  background-color: #292b33;
  text-align: center; }

#galleria h2 {
  color: white;
  padding-top: 68px; }

#galleria p {
  color: #828282;
  padding: 37px 51px 27px 51px; }

#galleimg {
  padding: 0px 51px 0px 51px;
  color: red; }

#footer {
  color: #797c82;
  font-size: 13px; }

#footer p {
  padding-top: 29px; }

#footer #reserved {
  float: left;
  width: 480px; }

#footer #redes {
  width: 100px;
  padding-top: 40px;
  float: left;
  position: relative; }

#footer #redes a {
  position: absolute;
  left: 0px; }

#footer a {
  color: #797c82; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }
