#nav {
  padding-top: 10px;
  position: relative;
  padding-bottom: 10px; }

#nav ul {
  list-style: none;
  position: absolute;
  top: 4px;
  right: 0; }
  #nav ul li {
    float: left;
    padding: 10px; }
    #nav ul li a {
      text-decoration: none;
      color: #9c9c9c; }

a {
  color: #3fabeb; }

.contenedor {
  background-color: white;
  text-align: center;
  margin-bottom: 1.6%; }

.contenedor h2 {
  padding-top: 4.8%; }

.contenedor p {
  padding-top: 1.6%;
  padding-right: 6.4%;
  padding-left: 6.4%; }

.contenedor #more1 {
  padding-bottom: 3.2%;
  padding-top: 1%; }

.contenedor #more2 {
  padding-bottom: 3.2%;
  padding-top: 1%; }

.contenedor #more3 {
  padding-bottom: 71px;
  padding-top: 36px; }

#more4 {
  padding-bottom: 71px;
  padding-top: 36px; }

#more5 {
  padding-bottom: 71px;
  padding-top: 36px;
  background-color: white;
  text-align: center;
  margin-top: -20px; }

.contenedor #more1 p {
  font-size: 12px;
  font-size: 0.75rem;
  margin-left: 1.7%;
  margin-right: 1.7%;
  padding: 3.36% 4% 3.36% 4%;
  background-color: #7bb84e; }

.contenedor #more2 p {
  font-size: 12px;
  font-size: 0.75rem;
  margin-left: 1.7%;
  margin-right: 1.7%;
  padding: 3.36% 4% 3.36% 4%;
  background-color: #f5ba1b; }

.contenedor #more3 p {
  font-size: 12px;
  font-size: 0.75rem;
  margin-left: 1.7%;
  margin-right: 1.7%;
  padding: 3.36% 4% 3.36% 4%;
  background-color: #3fabeb; }

#more5 h2 {
  background-color: #e02d74;
  font-size: 17px;
  font-size: 1.0625rem;
  margin-left: 30.6%;
  margin-right: 30.6%;
  padding: 17px 0px 17px 0px; }

#more1 a, #more2 a, #more3 a, #more5 h2 a {
  text-decoration: none;
  color: white; }

.contenedor .more a {
  text-decoration: none;
  color: white; }

.contenedor-img {
  float: left;
  width: 50%; }

#img1 {
  width: 4180%;
  position: absolute;
  top: 0px;
  left: 0px; }

#img2 {
  width: 4180%;
  position: absolute;
  bottom: 0px;
  left: 0px; }

#img3 {
  width: 4180%;
  position: absolute;
  top: 0px;
  left: 0px; }

#img4 {
  width: 4180%;
  position: absolute;
  bottom: 0px;
  left: 0px; }

.azul {
  background-color: #0071bd; }

.celeste {
  background-color: #a3d3f3; }

.celesteoscuro {
  background-color: #75b3dd; }

.negro {
  background-color: #333c4d; }

#informacion1 h4 {
  padding: 255px 45px 0px 45px; }

#informacion1 p {
  padding: 0px 45px 55px 45px; }

#informacion2 h4 {
  padding: 55px 45px 0px 45px; }

#informacion2 p {
  padding: 0px 45px 255px 45px; }

#informacion3 h4 {
  padding: 255px 45px 0px 45px; }

#informacion3 p {
  padding: 0px 45px 55px 45px; }

#informacion4 h4 {
  padding: 55px 45px 0px 45px; }

#informacion4 p {
  padding: 0px 45px 255px 45px; }

#informacion1 {
  position: relative;
  width: 2.4%;
  font-size: 15px;
  font-size: 0.9375rem;
  text-align: right;
  float: left;
  color: white; }

#informacion2 {
  position: relative;
  width: 2.4%;
  font-size: 15px;
  font-size: 0.9375rem;
  text-align: left;
  float: left;
  color: white; }

#informacion3 {
  position: relative;
  width: 2.4%;
  font-size: 15px;
  font-size: 0.9375rem;
  text-align: right;
  float: left;
  color: white; }

#informacion4 {
  position: relative;
  width: 2.4%;
  font-size: 15px;
  font-size: 0.9375rem;
  text-align: left;
  float: left;
  color: white; }

#galleria #more4 p {
  font-size: 12px;
  font-size: 0.75rem;
  margin-left: 1.7%;
  margin-right: 1.7%;
  padding: 1.2% 4% 1.2% 4%;
  background-color: #f9f9f9; }

#more4 a {
  text-decoration: none;
  color: #292b33; }

#galleria {
  background-color: #292b33;
  text-align: center; }

#galleria h2 {
  color: white;
  padding-top: 5.4%; }

#galleria p {
  color: #828282;
  padding: 2.9% 4% 2.1% 4%; }

#galleimg {
  padding: 0px 51px 0px 51px;
  color: red; }

#footer {
  color: #797c82;
  font-size: 13px;
  font-size: 0.8125rem; }

#footer p {
  padding-top: 29px; }

#footer #reserved {
  float: left;
  width: 480px; }

#footer #redes {
  width: 100px;
  padding-top: 40px;
  float: left;
  position: relative; }

#footer #redes a {
  position: absolute;
  left: 0px; }

#footer a {
  color: #797c82; }

body {
  background-color: #eaeced; }

#wrapper {
  max-width: 800px;
  margin: 0 auto; }

#sub-wrapper {
  max-width: 600px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }
