@mixin more ($bottom, $top){
  padding-bottom: $bottom;
  padding-top: $top;
}
@mixin morep ($padding){
  font-size: 12px;
  margin-left: 210px;
  margin-right: 210px;
  padding:$padding;
}
@mixin informacion ($aling){
  position: relative;
  width: 300px;
  font-size: 15px;
  text-align: $aling;
  float: left;
  color: white;
}
@mixin h4s ($tops){
  padding: $tops
}
@mixin ps ($bottom){
  padding: $bottom;
}
