@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
@mixin fontsize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin contenedor($margin){
  width: 100%;
  background-color: white;
  text-align: center;
  margin-bottom: $margin;
}
@mixin contenedorp($padding, $margin){
  padding: $padding;
  margin: $margin;
}
@mixin more ($bottom, $top){
  padding-bottom: $bottom;
  padding-top: $top;
}
@mixin morep ($padding){
  @include fontsize(12px);
  margin-left: 35%;
  margin-right: 35%;
  padding:$padding;
}
@mixin informacion ($aling){
  position: relative;
  width: 100%;
  @include fontsize(15px);
  text-align: $aling;
  float: left;
  color: white;
}
@mixin h4s ($tops){
  padding: $tops
}
@mixin ps ($bottom){
  padding: $bottom;
}

