.contenedor{
  background-color: white;
  text-align: center;
  margin-bottom: 1.6%;
}
.contenedor h2{
  padding-top: 4.8%;
}
.contenedor p{
  padding-top: 1.6%;
  padding-right: 6.4%;
  padding-left: 6.4%;
}
.contenedor #more1 {
  @include more($bottom:3.2%, $top:1%);
}
.contenedor #more2 {
  @include more($bottom:3.2%, $top:1%);
}
.contenedor #more3 {
  @include more($bottom:71px, $top:36px);
}
#more4 {
  @include more($bottom:71px, $top:36px);
}
#more5 {
  @include more($bottom:71px, $top:36px);
  background-color: white;
  text-align: center;
  margin-top: -20px;
}
.contenedor #more1 p{
  @include morep($padding:3.36% 4% 3.36% 4%);
  background-color: #7bb84e;
}
.contenedor #more2 p{
  @include morep($padding:3.36% 4% 3.36% 4%);
  background-color: #f5ba1b;
}
.contenedor #more3 p{
  @include morep($padding:3.36% 4% 3.36% 4%);
  background-color: #3fabeb;
}
#more5 h2{
  background-color: #e02d74;
  @include fontsize(17px);
  margin-left: 30.6%;
  margin-right: 30.6%;
  padding:17px 0px 17px 0px;
}
#more1 a, #more2 a, #more3 a, #more5 h2 a{
  text-decoration: none;
  color: white;
}
.contenedor .more a{
  text-decoration: none;
  color: white;
}
.contenedor-img{
  float: left;
  width: 50%;
}
#img1{
  width: 4180%;
  position: absolute;
  top: 0px;
  left: 0px;
}
#img2{
  width: 4180%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#img3{
  width: 4180%;
  position: absolute;
  top: 0px;
  left: 0px;
}
#img4{
  width: 4180%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.azul{
  background-color: #0071bd;
}
.celeste{
  background-color: #a3d3f3;
}
.celesteoscuro{
  background-color: #75b3dd;
}
.negro{
  background-color: #333c4d;
}
#informacion1 h4{
  @include h4s($tops: 255px 45px 0px 45px);
}
#informacion1 p{
  @include ps($bottom: 0px 45px 55px 45px);
}
#informacion2 h4{
  @include h4s($tops: 55px 45px 0px 45px);
}
#informacion2 p{
  @include ps($bottom:0px 45px 255px 45px);
}
#informacion3 h4{
  @include h4s($tops: 255px 45px 0px 45px);
}
#informacion3 p{
  @include ps($bottom:0px 45px 55px 45px);
}
#informacion4 h4{
  @include h4s($tops:55px 45px 0px 45px);
}
#informacion4 p{
  @include ps($bottom:0px 45px 255px 45px);
}
#informacion1{
  @include informacion($aling:right);
}
#informacion2{
  @include informacion($aling:left);
}
#informacion3{
  @include informacion($aling:right);
}
#informacion4{
  @include informacion($aling:left);
}
