#footer{
  color: $footer;
  @include fontsize(13px);
}
#footer p{
  padding-top: 4%;
}
#footer #reserved{
  float: left;
  width: 75%;
}
#footer #redes{
  width: 25%;
  padding-top: 5%;
  float: left;
  position: relative;
}
#footer #redes a{
  position: absolute;
  left: 0px;
}
#footer a{
  color:$footer;
}
#footer img{
  width: 100%;
}
