#footer{
  color: #797c82;
  font-size: 13px;
}
#footer p{
  padding-top: 29px;
}
#footer #reserved{
  float: left;
  width: 480px;
}
#footer #redes{
  width: 100px;
  padding-top: 40px;
  float: left;
  position: relative;
}
#footer #redes a{
  position: absolute;
  left: 0px;
}
#footer a{
  color: #797c82;
}
