#galleria{
  margin-bottom: 6.6%;
}

#galleria #more4 p{
  @include morep($padding:1.2% 4% 1.2% 4%);
  background-color: $galleria;
}

#more4 a{
  text-decoration: none;
  color: $boton5;
}
#galleria{
  background-color:$boton5;
  text-align: center;
}
#galleria h2{
  color: $general ;
  padding-top: 5.4%;
}
#galleria p{
  color: $galleriafon;
  padding: 2.9% 4% 2.1% 4%;
}
#galleimg{
  padding: 0px 51px 0px 51px;
}
