body{
  background-color: $fondogeneral;
}
#wrapper{
  max-width: 800px;
  margin: 0 auto;
}
#sub-wrapper{
  max-width: 600px;
  margin: 0 auto;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}
