@media (max-width: 767px){
  //Contenido
  .contenedor .estructure-1 img{
    width: 100%;
  }
  .contenedor2 .estructure-1 img{
    width: 100%;
  }
  // Our Newsroom
  .contenedor-img{
    float: left;
    width: 100%;
  }
  //Galleria
  #galleria img{
    width: 100%;
  }
}
