$general:white;
$fondogeneral:#eaeced;
$boton1: #7bb84e;
$boton2:#f5ba1b;
$boton3:#3fabeb;
$boton4:#e02d74;
$boton5:#292b33;
$cuadro1:#0071bd;
$cuadro2:#a3d3f3;
$cuadro3:#75b3dd;
$cuadro4:#333c4d;
$footer:#797c82;
$galleria:#f9f9f9;
$galleriafon:#828282;
